body {
    font-family: Myriad-Pro
}

.section {
    padding-bottom: 2rem;
    padding-top: 2rem;
    position: relative
}

@font-face {
    font-family: Myriad-Pro;
    font-style: normal;
    font-weight: 400;
    src: local("Myriad Pro Regular"), url(/fonts/myriad_pro/MYRIADPRO-REGULAR.woff) format("woff")
}

@font-face {
    font-family: Myriad-Pro;
    font-stretch: condensed;
    font-style: normal;
    font-weight: 400;
    src: local("Myriad Pro Condensed"), url(/fonts/myriad_pro/MYRIADPRO-COND.woff) format("woff")
}

@font-face {
    font-family: Myriad-Pro;
    font-style: italic;
    font-weight: 400;
    src: local("Myriad Pro Condensed Italic"), url(/fonts/myriad_pro/MYRIADPRO-CONDIT.woff) format("woff")
}

@font-face {
    font-family: Myriad-Pro;
    font-style: normal;
    font-weight: 100;
    src: local("Myriad Pro Light"), url(/fonts/myriad_pro/MyriadPro-Light.woff) format("woff")
}

@font-face {
    font-family: Myriad-Pro;
    font-style: normal;
    font-weight: 500;
    src: local("Myriad Pro Semibold"), url(/fonts/myriad_pro/MYRIADPRO-SEMIBOLD.woff) format("woff")
}

@font-face {
    font-family: Myriad-Pro;
    font-style: italic;
    font-weight: 500;
    src: local("Myriad Pro Semibold Italic"), url(/fonts/myriad_pro/MYRIADPRO-SEMIBOLDIT.woff) format("woff")
}

@font-face {
    font-family: Myriad-Pro;
    font-stretch: condensed;
    font-style: normal;
    font-weight: 700;
    src: local("Myriad Pro Bold Condensed"), url(/fonts/myriad_pro/MYRIADPRO-BOLDCOND.woff) format("woff")
}

@font-face {
    font-family: Myriad-Pro;
    font-style: normal;
    font-weight: 700;
    src: local("Myriad Pro Bold"), url(/fonts/myriad_pro/MYRIADPRO-BOLD.woff) format("woff")
}

@font-face {
    font-family: Myriad-Pro;
    font-style: italic;
    font-weight: 700;
    src: local("Myriad Pro Bold Italic"), url(/fonts/myriad_pro/MYRIADPRO-BOLDIT.woff) format("woff")
}

@font-face {
    font-family: Myriad-Pro;
    font-stretch: condensed;
    font-style: italic;
    font-weight: 700;
    src: local("Myriad Pro Bold Condensed Italic"), url(/fonts/myriad\ pro/MYRIADPRO-BOLDCONDIT.woff) format("woff")
}

nav.bg-danger {
    background-color: #c54357 !important
}

nav.bg-danger .container .collapse ul li a.active {
    background-color: #fff;
    color: #4f4a3e !important;
    font-weight: 700
}

nav.bg-danger .container .collapse ul li a:hover {
    background-color: #fff;
    color: #000 !important
}

nav.bg-danger .container .collapse ul li a:active {
    background-color: #fff;
    border-bottom: none;
    color: #000 !important
}

nav.bg-danger .container .collapse .mr-5 .row .custom-border-right {
    border-right: 2px solid #e9d6ea
}

footer.bg-footer {
    background-color: #4f4a3e
}

footer .container .row div .row div input.subscribe-fields-shadow {
    border-radius: 0 !important;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1) !important;
    height: 3.12rem
}

footer .container .row div .row div button.subscribe-btn {
    border-radius: 0 !important;
    height: 3.12rem
}

footer .container .row div .row div button.btn-danger {
    background-color: #c54357;
    border-color: #c54357
}

footer .container .row div .row div button.btn-danger:hover {
    background-color: #f7f5f5;
    border-color: #f7f5f5;
    color: #c54357 !important
}

div.bg-danger {
    background-color: #c54357 !important
}

.section .container div div p span.text-danger,
.section .container h1.text-danger {
    color: #c54357 !important
}

.section .container .row .col-md-3 img.image-border-padding {
    border: 2px solid #c54357;
    padding: 1rem
}

.section .bg-image {
    background-color: #ccc;
    background-image: url(/assets/images/background_image.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.section .bg-image .image-overlay {
    background-color: rgba(0, 0, 0, .5)
}

.section .bg-image .image-overlay .container .card-deck .card img.image-border-padding {
    border: 2px solid #c54357;
    padding: 1rem
}

.section .bg-image .image-overlay .container .row .btn-danger {
    background-color: #c54357;
    border-color: #c54357
}

.section .bg-image .image-overlay .container .row .btn-danger:hover {
    background-color: #f7f5f5;
    border-color: #f7f5f5;
    color: #c54357 !important
}

.section .bg-image .image-overlay .container .row .custom-border-radius-none {
    border-radius: 0
}

.section .bg-image .image-overlay .container .row a .custom-btn-height {
    height: 50px
}

.section .bg-image .image-overlay .container .row a:hover {
    text-decoration: none
}

.section .bg-image .image-overlay .row a .btn-danger {
    background-color: #c54357;
    border-color: #c54357
}

.section .bg-image .image-overlay .row a .btn-danger:hover {
    background-color: #f7f5f5;
    border-color: #f7f5f5;
    color: #c54357 !important
}

.section .bg-image .image-overlay .row a .custom-border-radius-none {
    border-radius: 0 !important
}

.section .bg-image .image-overlay .row a:hover {
    text-decoration: none
}

.section .container h1.text-danger {
    color: #c54357
}

.section .container-fluid .row .text-center a.text-dark:hover {
    color: #c54357 !important
}

.section .bg-testimonial-image {
    background-color: #ccc;
    background-image: url(/assets/images/bg-testimonial.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.section .bg-testimonial-image .image-testimonial-overlay {
    background-color: rgba(0, 0, 0, .5)
}

@media (max-width:1775px) {
    .section .bg-testimonial-image .image-testimonial-overlay .container .row .img-fixed-xl {
        flex: 0 0 63.666667%;
        max-width: 66.666667%
    }
}

@media (max-width:1399px) {
    .section .bg-testimonial-image .image-testimonial-overlay .container .row .img-fixed-xl {
        flex: 0 0 63.666667%;
        max-width: 66.666667%
    }
}

@media (max-width:1023px) {
    .section .bg-testimonial-image .image-testimonial-overlay .container .row .img-fixed-xl {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (max-width:1775px) {
    .section .bg-testimonial-image .image-testimonial-overlay .container .row .img-fixed-xl .bg-testimonial-text-image {
        background-image: url(/assets/images/testimation-bg-image.svg);
        background-position: 50%;
        background-repeat: no-repeat;
        height: 17rem;
        position: relative
    }
}

@media (max-width:1399px) {
    .section .bg-testimonial-image .image-testimonial-overlay .container .row .img-fixed-xl .bg-testimonial-text-image {
        background-image: url(/assets/images/testimation-bg-image.svg);
        background-position: 50%;
        background-repeat: no-repeat;
        height: 17rem;
        position: relative
    }
}

@media (max-width:1023px) {
    .section .bg-testimonial-image .image-testimonial-overlay .container .row .img-fixed-xl .bg-testimonial-text-image {
        background-image: url(/assets/images/testimation-bg-image.svg);
        background-position: 50%;
        background-repeat: no-repeat;
        height: 18rem;
        position: relative
    }
}

@media (max-width:767px) {
    .section .bg-testimonial-image .image-testimonial-overlay .container .row .img-fixed-xl .bg-testimonial-text-image {
        background-image: url(/assets/images/testimation-bg-image.svg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 18rem;
        position: relative
    }
}

@media (max-width:600px) {
    .section .bg-testimonial-image .image-testimonial-overlay .container .row .img-fixed-xl .bg-testimonial-text-image {
        background-image: url(/assets/images/testimation-bg-image.svg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 24rem;
        position: relative
    }
}

.section .bg-testimonial-image .image-testimonial-overlay .container .row .col-3 .boy-image {
    border-radius: 4rem
}

.section .bg-location-image {
    background-color: #ccc;
    background-image: url(/assets/images/location-header.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.section .bg-location-image .image-location-overlay {
    background-color: rgba(0, 0, 0, .5)
}

.section .container p.text-danger,
.section .container p span.text-danger {
    color: #c54357 !important
}

.section .container .branches-tiles-height {
    min-height: 9.37rem
}

.section .container div h5.branches-heading-font-size {
    font-size: 1.81rem
}

.section .container div p.branches-content-font-size {
    font-size: 1.3rem
}

.section .container div .row .col-8 button.branches-btn {
    height: 3.8rem;
    width: 13.1rem
}

.section .container div .row .col-8 button.border-radius-0 {
    border-radius: 0
}

.section .container div .row .col-8 button.custom-d-none {
    display: none
}

.section .container .collapse .card .row .col-md-6 .row .col-2.text-danger {
    color: #c54357 !important
}

.section .container .collapse .card .row .col-md-6 .row .col-2.text-danger span.custom-font-25 {
    font-size: 1.56rem
}

.section .container .collapse .card .row .col-md-6 .row .col-2.text-danger span.custom-pl {
    padding-left: 0 !important
}

.section .container .collapse .card .row .col-md-6 .row .col-10 b.custom-font-25,
.section .container .collapse .card .row .col-md-6 .row .col-10 p.custom-font-25 {
    font-size: 1.56rem
}

.section .container .collapse .card .row .col-md-6 .row .col-10 button.border-radius-0 {
    border-radius: 0
}

.section .container .collapse .card .row .col-md-6 .row button.btn-danger {
    background-color: #c54357;
    border-color: #c54357
}

.section .container .collapse .card .row .col-md-6 .row button.btn-danger:hover {
    background-color: #f7f5f5;
    border-color: #f7f5f5;
    color: #c54357 !important
}

.section .container .collapse .card .row .col-md-6 div.map-shadow {
    box-shadow: 0 0 3rem rgba(0, 0, 0, .175) !important
}

.section .container .collapse .card .row .col-md-6 div.map-width-fix {
    height: 31.25rem;
    width: 31.25rem
}

.section .container div.row .col-md-6 .row .col-2.text-danger {
    color: #c54357 !important
}

.section .container div.row .col-md-6 .row .col-2.text-danger span.custom-font-25 {
    font-size: 1.56rem
}

.section .container div.row .col-md-6 .row .col-2.text-danger span.custom-pl {
    padding-left: 0 !important
}

.section .container div.row .col-md-6 .row .col-10 b.custom-font-25,
.section .container div.row .col-md-6 .row .col-10 p.custom-font-25 {
    font-size: 1.56rem
}

.section .container div.row .col-md-6 div.map-shadow {
    box-shadow: 0 0 3rem rgba(0, 0, 0, .175) !important
}

.section .container div.row .col-md-6 div.map-width-fix {
    height: 31.25rem;
    width: 31.25rem
}

.section .container .row .col-10 .row .col-6 input.contact-fields-shadow,
.section .container .row .col-10 .row.contact-fields-shadow,
.section .container .row .col-10 .row input.contact-fields-shadow {
    border-radius: 0 !important;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1) !important
}

.section .container .row .col-10 .row button.btn-danger {
    background-color: #c54357;
    border-color: #c54357
}

.section .container .row .col-10 .row button.btn-danger:hover {
    background-color: #f7f5f5;
    border-color: #f7f5f5;
    color: #c54357 !important
}

.section .container .row .col-10 .row button.contact-btn {
    height: 3.8rem
}

.section .container .row .col-10 .row button.border-radius-0 {
    border-radius: 0
}

.section .container div.row div div.row select.select-icon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/assets/images/select-icon.png) #fff no-repeat 98.5% !important;
    background: url(/assets/images/select-icon.png) #fff no-repeat calc(100% - 10px) !important
}

.section .container div.row div .row input.border-radius-0,
.section .container div.row div div.row select.border-radius-0 {
    border-radius: 0
}

.section .container div.row div .row.custom-border-bottom {
    border-bottom: 2px solid #dddbdb
}

.section .container div.row div .row.custom-shadow-bottom {
    box-shadow: inset 0 11px 8px -10px #f1f1f1, inset 0 -11px 8px -10px #f1f1f1
}

.section .container div.row div .section .bg-order-image {
    background-color: #ccc;
    background-image: url(/assets/images/banner.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.section .container div.row div .section .bg-order-image .image-testimonial-overlay {
    background-color: rgba(0, 0, 0, .5)
}

.section .container div.row div .section .bg-order-image .row div .row div.custom-border {
    border-right: 2px solid #fff
}

.section .container div.row div .section div .card .row .col-2 a span.custom-font-25 {
    font-size: 1.56rem !important
}

.section .container div.row div.font-decrease {
    font-size: 1rem
}

.section .container div.row div.font-decrease .card.border-radius-0 {
    border-radius: 0
}

.section .container div.row div.font-decrease .card.border-radius-0 div ul li {
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.section .container div.row div.font-decrease .card.border-radius-0 div ul li a {
    color: #6c757d !important
}

.section .container div.row div.font-decrease .card.border-radius-0 div ul li a p.custom-font-25 {
    font-size: 1.56rem
}

.section .container div.row div.font-decrease .card.border-radius-0 div ul li a p.custom-font-20 {
    font-size: 1.25rem;
    font-weight: 300
}

.section .container div.row div.font-decrease .card.border-radius-0 div ul li a.active {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-bottom: none;
    border-radius: 0;
    color: #000 !important
}

.section .container div.row div.font-decrease .card.border-radius-0 .row div a span.custom-font-25 {
    font-size: 1.56rem
}

.section .container div.row div.font-decrease .card.border-radius-0 .row button.btn-danger {
    background-color: #c54357;
    border-color: #c54357
}

.section .container div.row div.font-decrease .card.border-radius-0 .row button.btn-danger:hover {
    background-color: #f7f5f5;
    border-color: #f7f5f5;
    color: #c54357 !important
}

.section .container div.row div.font-decrease .card.border-radius-0 .row button.border-radius-0,
.section .container div.row div.font-decrease .card.border-radius-0 .row div textarea.custom-border-radius-none {
    border-radius: 0
}

.section .container div.row div.font-decrease .card.border-radius-0 .row div textarea.custom-color {
    color: dimgray;
    font-size: 1.12rem
}

.section .container div.row div.font-decrease .card.border-radius-0 .tab-content .row div a.custom-font-18 {
    font-size: 1.12rem
}

.section .container div.row div.font-decrease .card.border-radius-0 .tab-content .row div b,
.section .container div.row div.font-decrease .card.border-radius-0 .tab-content .row div p.custom-font-change {
    font-size: 1.25rem
}

.section .container div.row div.font-decrease .card.border-radius-0 .tab-content .row div a.text-decoration-underline {
    text-decoration: underline
}

.section .container div.row div.font-decrease .card.border-radius-0 .tab-content .row div a.custom-font-change {
    font-size: 1.25rem
}